*                @paketo-buildpacks/content-maintainers @paketo-buildpacks/steering-committee
ca-certificates/ @paketo-buildpacks/utilities-maintainers @paketo-buildpacks/steering-committee
dotnet-core/     @paketo-buildpacks/dotnet-core-maintainers @paketo-buildpacks/steering-committee
git/             @paketo-buildpacks/utilities-maintainers @paketo-buildpacks/steering-committee
go/              @paketo-buildpacks/go-maintainers @paketo-buildpacks/steering-committee
java/            @paketo-buildpacks/java-maintainers @paketo-buildpacks/steering-committee
nginx/           @paketo-buildpacks/web-servers-maintainers @paketo-buildpacks/steering-committee
nodejs/          @paketo-buildpacks/nodejs-maintainers @paketo-buildpacks/steering-committee
php/             @paketo-buildpacks/php-maintainers @paketo-buildpacks/steering-committee
procfile/        @paketo-buildpacks/utilities-maintainers @paketo-buildpacks/steering-committee
python/          @paketo-buildpacks/python-maintainers @paketo-buildpacks/steering-committee
ruby/            @paketo-buildpacks/ruby-maintainers @paketo-buildpacks/steering-committee
web-servers/     @paketo-buildpacks/web-servers-maintainers @paketo-buildpacks/steering-committee
