{:deps
          {io.pedestal/pedestal.service {:mvn/version "0.5.8"}
           io.pedestal/pedestal.route   {:mvn/version "0.5.8"}
           io.pedestal/pedestal.jetty   {:mvn/version "0.5.8"}
           org.clojure/data.json        {:mvn/version "0.2.6"}
           org.slf4j/slf4j-simple       {:mvn/version "1.7.28"}}
 :paths ["src"]
 :aliases {:build {:deps {io.github.clojure/tools.build {:tag "v0.1.7" :sha "8a3abc2"}}
                   :ns-default build}}}
