{:deps
          {io.pedestal/pedestal.service {:mvn/version "0.5.10"}
           io.pedestal/pedestal.route   {:mvn/version "0.5.10"}
           io.pedestal/pedestal.jetty   {:mvn/version "0.5.10"}
           org.clojure/data.json        {:mvn/version "2.4.0"}
           org.slf4j/slf4j-simple       {:mvn/version "1.7.36"}}
 :paths ["src"]
 :aliases {:build {:deps {io.github.clojure/tools.build {:git/tag "v0.8.1" :git/sha "7d40500"}}
                   :ns-default build}}}
