name: aspectj
"on":
  pull_request:
    paths:
    - java/aspectj/**
  push:
    branches:
    - main
    paths:
    - java/aspectj/**

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [8, 11]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java }}
      - uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('java/aspectj/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - run: ./mvnw -B package
        working-directory: java/aspectj
