name: gradle
"on":
  merge_group:
  pull_request:
    paths:
    - java/gradle/**
  push:
    branches:
    - main
    paths:
    - java/gradle/**

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [17]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
      - uses: actions/cache@v3
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('java/gradle/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      # simulate the bindings
      - run: cp bindings/gradle-wrapper/gradle-wrapper.properties gradle/wrapper/gradle-wrapper.properties && ./gradlew build
        working-directory: java/gradle
