name: application-insights
"on":
  merge_group:
  pull_request:
    paths:
    - java/application-insights/**
  push:
    branches:
    - main
    paths:
    - java/application-insights/**

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [17, 21]

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
      - uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('java/application-insights/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - run: ./mvnw -B package -Djava.version=${{ matrix.java }}
        working-directory: java/application-insights
