name: maven-yarn
"on":
  merge_group:
  pull_request:
    paths:
    - java/java-node/maven-yarn/**
  push:
    branches:
    - main
    paths:
    - java/java-node/maven-yarn/**

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [17]

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
      - uses: actions/cache@v5
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('java/java-node/maven-yarn/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - run: ./mvnw -B package -Djava.version=${{ matrix.java }}
        working-directory: java/java-node/maven-yarn
