name: leiningen
"on":
  merge_group:
  pull_request:
    paths:
    - java/leiningen/**
  push:
    branches:
    - main
    paths:
    - java/leiningen/**

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [8, 11]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
      - uses: actions/cache@v3
        with:
          path: ~/.lein
          key: ${{ runner.os }}-lein-${{ hashFiles('java/leiningen/project.clj') }}
          restore-keys: ${{ runner.os }}-lein
      - run: ./lein uberjar
        working-directory: java/leiningen
        env:
          LEIN_HOME: ~/.lein
