name: war
"on":
  merge_group:
  pull_request:
    paths:
      - java/war/**
  push:
    branches:
      - main
    paths:
      - java/war/**

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [17, 21]

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: "zulu"
      - uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('java/war/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - run: ./gradlew build
        working-directory: java/war
