name: war
"on":
  pull_request:
    paths:
    - java/war/**
  push:
    branches:
    - main
    paths:
    - java/war/**

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [8, 11]

    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
      - uses: actions/cache@v2.1.6
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('java/war/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - run: ./mvnw -B package -Djava.version=${{ matrix.java }}
        working-directory: java/war
