name: kotlin
"on":
  merge_group:
  pull_request:
    paths:
    - java/kotlin/**
  push:
    branches:
    - main
    paths:
    - java/kotlin/**

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [17, 21]

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
      - uses: actions/cache@v5
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('java/gradle/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - run: ./gradlew build
        working-directory: java/kotlin
