name: Test Pull Request (Ruby)

on:
  pull_request:
    branches:
    - main
    paths:
    - 'ruby/**'

jobs:
  smoke:
    name: Smoke Tests
    runs-on: ubuntu-latest
    steps:
    - name: Setup Go
      uses: actions/setup-go@v2.1.3
      with:
        go-version: 1.16

    - name: Checkout
      uses: actions/checkout@v2.3.4

    - name: Test Ruby Samples
      run: |
        ./scripts/smoke.sh --suite ruby \
                           --builder paketobuildpacks/builder:full \
                           --builder paketobuildpacks/builder:base
