name: Test Pull Request (NGINX)

on:
  pull_request:
    branches:
    - main
    paths:
    - 'nginx/**'

jobs:
  smoke:
    name: Smoke Tests
    runs-on: ubuntu-latest
    steps:
    - name: Setup Go
      uses: actions/setup-go@v2.1.4
      with:
        go-version: 1.16

    - name: Checkout
      uses: actions/checkout@v2.3.5

    - name: Test NGINX Samples
      run: |
        ./scripts/smoke.sh --suite nginx \
                           --builder paketobuildpacks/builder:full \
                           --builder paketobuildpacks/builder:base
