name: Test Pull Request (Procfile)

on:
  merge_group:
  pull_request:
    branches:
    - main
    paths:
    - 'procfile/**'

jobs:
  smoke:
    name: Smoke Tests
    runs-on: ubuntu-latest
    steps:
    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.18.x

    - name: Checkout
      uses: actions/checkout@v4

    - name: Test Procfile Samples
      run: |
        ./scripts/smoke.sh --suite procfile \
                           --builder paketobuildpacks/builder:full \
                           --builder paketobuildpacks/builder:base
