name: Test Pull Request (Java-Node)

on:
  merge_group:
  pull_request:
    branches:
      - main
    paths:
      - 'java/java-node/**'

jobs:
  smoke:
    name: Smoke Tests Java-Node
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.18.x

      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache local Gradle repository
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('java/**/*.gradle*', 'java/**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Cache local Maven repository
        uses: actions/cache@v3
        with:
          path: |
            ~/.m2/repository
            ~/.m2/wrapper
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml', 'java/**/maven-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Setup Directories
        run: |
          #!/usr/bin/env bash
          set -euo pipefail
          
          mkdir -p ~/.m2/repository
          mkdir -p ~/.m2/repository/wrapper/dists
          mkdir -p ~/.gradle/caches
          mkdir -p ~/.gradle/wrapper/dists
          chmod -R 775 ~/.m2
          chmod -R 775 ~/.gradle

      - name: Test Java-Node Samples
        run: |
          ./scripts/smoke.sh --suite java/java-node \
                             --builder paketobuildpacks/builder:full \
                             --builder paketobuildpacks/builder:base \
