name: Test Pull Request (Ruby)

on:
  merge_group:
  pull_request:
    branches:
    - main
    paths:
    - 'ruby/**'

jobs:
  smoke:
    name: Smoke Tests
    runs-on: ubuntu-latest
    steps:
    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.22.x

    - name: Checkout
      uses: actions/checkout@v6

    - name: Test Ruby Samples
      run: |
        ./scripts/smoke.sh --suite ruby \
                           --builder paketobuildpacks/builder-jammy-full:latest \
                           --builder paketobuildpacks/builder-jammy-base:latest
