name: Test Pull Request (python)

on:
  pull_request:
    branches:
    - main
    paths:
    - 'python/**'

jobs:
  smoke:
    name: Smoke Tests
    runs-on: ubuntu-latest
    steps:
    - name: Setup Go
      uses: actions/setup-go@v2.1.4
      with:
        go-version: 1.17

    - name: Checkout
      uses: actions/checkout@v2.3.5

    - name: Test python Samples
      run: |
        ./scripts/smoke.sh --suite python \
                           --builder paketobuildpacks/builder:full \
                           --builder paketobuildpacks/builder:base
