name: Test Pull Request (Dotnet Core)

on:
  pull_request:
    branches:
    - main
    paths:
    - 'dotnet-core/**'

jobs:
  smoke:
    name: Smoke Tests
    runs-on: ubuntu-latest
    steps:
    - name: Setup Go
      uses: actions/setup-go@v2.2.0
      with:
        go-version: 1.16

    - name: Checkout
      uses: actions/checkout@v2.4.0

    - name: Test .NET Samples
      run: |
        ./scripts/smoke.sh --suite dotnet-core \
                           --builder paketobuildpacks/builder:full \
                           --builder paketobuildpacks/builder:base
