name: Test Pull Request (PHP)

on:
  merge_group:
  pull_request:
    branches:
    - main
    paths:
    - 'php/**'

jobs:
  smoke:
    name: Smoke Tests
    runs-on: ubuntu-latest
    steps:
    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.25.x

    - name: Checkout
      uses: actions/checkout@v6

    - name: Test PHP Samples
      run: |
        ./scripts/smoke.sh --suite php \
                           --builder paketobuildpacks/builder-jammy-full:latest
