name: Test Pull Request (web-servers)

on:
  merge_group:
  pull_request:
    branches:
    - main
    paths:
    - 'web-servers/**'

jobs:
  smoke:
    name: Smoke Tests
    runs-on: ubuntu-latest
    steps:
    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.18.x

    - name: Checkout
      uses: actions/checkout@v3

    - name: Test Web Servers Samples
      run: |
        ./scripts/smoke.sh --suite web-servers \
                           --builder paketobuildpacks/builder:full \
                           --builder paketobuildpacks/builder:base
