name: Test Pull Request (Java)

on:
  pull_request:
    branches:
    - main
    paths:
    - 'java/**'
    - '!java/native-image/**'

jobs:
  smoke:
    name: Smoke Tests
    runs-on: ubuntu-latest
    steps:
    - name: Setup Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18.x

    - name: Checkout
      uses: actions/checkout@v3

    - name: Cache local Gradle repository
      uses: actions/cache@v3
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('java/**/*.gradle*', 'java/**/gradle-wrapper.properties') }}
        restore-keys: |
          ${{ runner.os }}-gradle-

    - name: Cache local Maven repository
      uses: actions/cache@v3
      with:
        path: |
          ~/.m2/repository
          ~/.m2/wrapper
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml', 'java/**/maven-wrapper.properties') }}
        restore-keys: |
          ${{ runner.os }}-maven-

    - name: Setup Directories
      run: |
        #!/usr/bin/env bash
        set -euo pipefail

        mkdir -p ~/.m2/repository
        mkdir -p ~/.m2/repository/wrapper/dists
        mkdir -p ~/.gradle/caches
        mkdir -p ~/.gradle/wrapper/dists
        chmod -R 777 ~/.m2
        chmod -R 777 ~/.gradle

        echo $(id)

    - name: Test Java Samples
      run: |
        ./scripts/smoke.sh --suite java \
                           --builder paketobuildpacks/builder:full \
                           --builder paketobuildpacks/builder:base \
                           --builder paketobuildpacks/builder:tiny
