name: Test Pull Request (PHP)

on:
  pull_request:
    branches:
    - main
    paths:
    - 'php/**'

jobs:
  smoke:
    name: Smoke Tests
    runs-on: ubuntu-latest
    steps:
    - name: Setup Go
      uses: actions/setup-go@v2.2.0

    - name: Checkout
      uses: actions/checkout@v2.4.0

    - name: Test PHP Samples
      run: |
        ./scripts/smoke.sh --suite php \
                           --builder paketobuildpacks/builder:full
