name: Test Pull Request (Dotnet Core)

on:
  merge_group:
  pull_request:
    branches:
    - main
    paths:
    - 'dotnet-core/**'
    - '.github/workflows/test-pull-request-dotnet-core.yml'

concurrency:
  # only one instance of test suite per PR at one time
  group: pr-${{ github.event.number }}
  cancel-in-progress: true

jobs:
  smoke:
    name: Smoke Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        builder:
        - 'paketobuildpacks/builder:full'
        - 'paketobuildpacks/builder:base'
        - 'paketobuildpacks/builder-jammy-base:latest'
        - 'paketobuildpacks/builder-jammy-full:latest'
    steps:
    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.18.x

    - name: Checkout
      uses: actions/checkout@v3

    - name: Test .NET Samples
      run: |
        ./scripts/smoke.sh --suite dotnet-core \
                           --builder ${{ matrix.builder }}
