name: Test Pull Request (ca-certificates)

on:
  merge_group:
  pull_request:
    branches:
    - main
    paths:
    - 'ca-certificates/**'

jobs:
  smoke:
    name: Smoke Tests
    runs-on: ubuntu-latest
    steps:
    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.22.x

    - name: Checkout
      uses: actions/checkout@v6

    - name: Test ca-certificates Samples
      run: |
        ./scripts/smoke.sh --suite ca-certificates \
                           --builder paketobuildpacks/builder-jammy-full:latest \
                           --builder paketobuildpacks/builder-jammy-base:latest \
                           --builder paketobuildpacks/builder-jammy-tiny:latest
